<!-- Tooltip for current Semester -->
<ng-template #semTooltip1>
  <div class="row">
    <div class="container-fluid">
      <div class="tooltip-header">
        <div class="tooltip-header-item">{{ this.SemesterPoints[this.currentIndex].number }}<span [translate]="'iDashboard.' +SemesterPoints[this.currentIndex]?.indicator"  class="mr-2"></span>
          <span [translate]="'iDashboard.SemesterUpper'"></span>
        </div>
      </div>
      <div class="row tooltip-body">
        <div class="col-9">
          <span class="tooltip-body-item" [translate]="'iDashboard.PassedCourses'"></span>
        </div>
        <div class="ml-auto col-3 text-right">
          <span class="tooltip-big-text">{{ this.SemesterPoints[this.currentIndex].passed }}</span>
        </div>
      </div>
      <div class="row tooltip-body">
        <div class="col-9">
          <span class="tooltip-body-item" [translate]="'iDashboard.GradesAverage'"></span>
          <span class="tooltip-body-item tooltip-small-text" [translate]="'iDashboard.AverageGradesInfo'"></span>
        </div>
        <div class="ml-auto col-3 text-right">
          <span class="tooltip-big-text">{{ this.SemesterPoints[this.currentIndex].averageGrades }}</span>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<!-- Tooltip for graduated students -->
<ng-template #finalTooltip>
  <div class="row">
    <div class="container-fluid">
      <div class="tooltip-header">
        <div class="tooltip-header-item">
          <span [translate]="'iDashboard.CurrentGrade'"></span>
        </div>
      </div>
      <div class="row tooltip-body">
        <div class="ml-auto col-12 text-center">
          <span class="tooltip-big-text tooltip-passed-grade">
            {{ this.SemesterPoints[this.currentIndex].averageGrades }}
          </span>
        </div>
      </div>
     <!--
      <div class="row tooltip-body">
        <div class="col-12  text-center">
          <span class="tooltip-body-item text-center" [translate]="'iDashboard.GraduationText'"></span>
        </div>
      </div>
      -->
    </div>
  </div>
</ng-template>

<!--Progress Bar Code-->
<div class="progress_bar d-none d-sm-block" *ngIf="!isLoading">
  <div class="progress_bar__container">
    <div class="progress_bar__first_column progress_bar_column"
         [ngClass]="{'complete': this.SemesterPoints[0].complete, 'active': this.SemesterPoints[0].active}">
      <div class="progress_bar__top_box">
        <span class="text-dark font-lg" *ngIf="this.SemesterPoints[0].active">
          <span [translate]="'iDashboard.Now'"></span>
        </span>
      </div>
      <div class="progress_bar__main_box">
        <div class="progress_bar__line first"></div>
        <div class="progress_bar__circle" placement="top" [tooltip]="semTooltip1" [isDisabled]="!this.SemesterPoints[0].active"> <!-- check if is active semester-->
          <i class="fas fa-check" ></i>
        </div>
        <div class="progress_bar__line second"></div>
      </div>
      <div class="progress_bar__bottom_box">
        <span *ngIf="!this.SemesterPoints[0].active" class="text-info"> 
          {{ this.SemesterPoints[0].number }}<span [translate]="'iDashboard.'+ this.SemesterPoints[0].indicator" class="mr-2"></span>
          <span [translate]="'iDashboard.Semester'"></span>
        </span>
        <!-- If it is the active Semester -->
        <span *ngIf="this.SemesterPoints[0].active" class="text-dark font-xl">
            {{ this.SemesterPoints[0].number }}<span [translate]="'iDashboard.'+ this.SemesterPoints[0].indicator" class="mr-2"></span>
            <span [translate]="'iDashboard.Semester'"></span>
          </span>        
      </div>
    </div>

    <div class="progress_bar__inner_column progress_bar_column"
         [ngClass]="{'complete': this.SemesterPoints[1].complete, 'active': this.SemesterPoints[1].active}">
      <div class="progress_bar__top_box">
        <span class="font-lg text-dark" *ngIf="this.SemesterPoints[1].active">
          <span [translate]="'iDashboard.Now'"></span>
        </span>
      </div>
      <div class="progress_bar__main_box">
        <div class="progress_bar__line first"></div>
        <div class="progress_bar__circle" placement="top" [tooltip]="semTooltip1" [isDisabled]="!this.SemesterPoints[1].active">
          <i class="fas fa-check"></i>
        </div>
        <div class="progress_bar__line second"></div>
      </div>
      <div class="progress_bar__bottom_box">
        <span *ngIf="!this.SemesterPoints[1].active" class="text-info">
          {{ this.SemesterPoints[1].number }}<span [translate]="'iDashboard.'+ this.SemesterPoints[1].indicator" class="mr-2"></span>
          <span [translate]="'iDashboard.Semester'"></span>
        </span>
        <!-- If it is the active Semester -->
        <span *ngIf="this.SemesterPoints[1].active" class="text-dark font-xl">
            {{ this.SemesterPoints[1].number }}<span [translate]="'iDashboard.'+ this.SemesterPoints[1].indicator" class="mr-2"></span>
            <span [translate]="'iDashboard.Semester'"></span>
        </span>
      </div>
    </div>

    <div class="progress_bar__inner_column progress_bar_column"
         [ngClass]="{'complete': this.SemesterPoints[2].complete, 'active': this.SemesterPoints[2].active}">
      <div class="progress_bar__top_box">
        <span class="font-lg text-dark" *ngIf="this.SemesterPoints[2].active">
          <span [translate]="'iDashboard.Now'"></span>
        </span>
      </div>
      <div class="progress_bar__main_box ">
        <div class="progress_bar__line first"></div>
        <div class="progress_bar__circle" placement="top" [tooltip]="semTooltip1" [isDisabled]="!this.SemesterPoints[2].active">
          <i class="fas fa-check"></i>
        </div>
        <div class="progress_bar__line second"></div>
      </div>
      <div class="progress_bar__bottom_box">
        <span *ngIf="!this.SemesterPoints[2].active" class="text-info">
          {{ this.SemesterPoints[2].number }}<span [translate]="'iDashboard.'+ this.SemesterPoints[2].indicator" class="mr-2"></span>
          <span [translate]="'iDashboard.Semester'"></span>
        </span>
        <!-- If it is the active Semester -->
        <span *ngIf="this.SemesterPoints[2].active" class="text-dark font-xl">
            {{ this.SemesterPoints[2].number }}<span [translate]="'iDashboard.'+ this.SemesterPoints[2].indicator" class="mr-2"></span>
            <span [translate]="'iDashboard.Semester'"></span>
        </span>        
      </div>
    </div>

    <div class="progress_bar__inner_column progress_bar_column"
         [ngClass]="{'complete': this.SemesterPoints[3].complete, 'active': this.SemesterPoints[3].active}">
      <div class="progress_bar__top_box">
        <span class="font-lg text-dark" *ngIf="this.SemesterPoints[3].active">
          <span [translate]="'iDashboard.Now'"></span>
        </span>
      </div>
      <div class="progress_bar__main_box">
        <div class="progress_bar__line first"></div>
        <div class="progress_bar__circle" placement="top" [tooltip]="semTooltip1" [isDisabled]="!this.SemesterPoints[3].active">
          <i class="fas fa-check"></i>
        </div>
        <div class="progress_bar__line second"></div>
      </div>
      <div class="progress_bar__bottom_box">
        <span *ngIf="!this.SemesterPoints[3].active" class="text-info">
          {{ this.SemesterPoints[3].number }}<span [translate]="'iDashboard.'+ this.SemesterPoints[3].indicator" class="mr-2"></span>
          <span [translate]="'iDashboard.Semester'"></span>
        </span>
        <!-- If it is the active Semester -->
        <span *ngIf="this.SemesterPoints[3].active" class="text-dark font-xl">
            {{ this.SemesterPoints[3].number }}<span [translate]="'iDashboard.'+ this.SemesterPoints[3].indicator" class="mr-2"></span>
            <span [translate]="'iDashboard.Semester'"></span>
        </span>         
      </div>
    </div>

    <div class="progress_bar__inner_column progress_bar_column d-none d-lg-flex" *ngIf="toShowSmallDots"
         [ngClass]="{ 'complete': this.SemesterPoints[4].active}">
      <div class="progress_bar__top_box">
      </div>
      <div class="progress_bar__main_box">
        <div class="progress_bar__line first"></div>
        <div class="progress_bar__small_circle_box">
          <div class="progress_bar__small_circle"></div>
          <div class="progress_bar__small_circle"></div>
          <div class="progress_bar__small_circle"></div>
        </div>
        <div class="progress_bar__line second"></div>
      </div>
      <div class="progress_bar__bottom_box">

      </div>
    </div>

    <div class="progress_bar__last_column progress_bar_column "
         [ngClass]="{'complete': this.SemesterPoints[4].complete, 'active': this.SemesterPoints[4].active}">
      <div class="progress_bar__top_box">
      </div>
      <div class="progress_bar__main_box">
        <div class="progress_bar__line first"></div>
        <div class="progress_bar__graduation" placement="top" [tooltip]="finalTooltip" [isDisabled]="!this.SemesterPoints[4].active">
          <i class="fas fa-graduation-cap"></i>
        </div>
        <div class="progress_bar__line second"></div>
      </div>
      <div class="progress_bar__bottom_box">
        <span class="text-info"><span [translate]="'iDashboard.Graduation'"></span></span>
      </div>
    </div>

  </div>
</div>
<!--End of Progress Bar Code-->
