@import "../../../../scss/bootstrap-variables";

.rectangle-3 {
    margin-bottom: 15px;
    border-radius: 6px;
    background-color: #FFFFFF;
    box-shadow: 0 0 17px 0 rgba(177,177,177,0.5);
}

/************ GENERAL **************/
.reg2__button-primary {
  border-radius:3px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 33px;
  width: 148px;
}

.reg-history__semester-title{
  color: #73818E;
  text-transform: uppercase;
}

.reg2__btn--gray {
  background-color:#F0F3F5;
}

.reg2__success{
  color: #32CD32;
}
.reg2__edited{
  color: #2500DD;
}
.reg2__success-button {
  background-color: #32CD32;
  color:white;
}
.reg2__bold{
  font-weight: bold;
}


  //semesterChoice: the filter that you choose semester
.reg_courses_body__semesterChoice {
  font-size: 14px;
  border-right: 1px solid $gray-200;
  padding-right: 20px;
  height: 100%;
  padding-bottom: 96px;
  white-space: nowrap;
  min-width: 140px;
}

.reg_courses_body__main {
  flex-grow: 1;
  margin: 0 50px 100px 50px;
}

.reg_courses_body {
  display: flex;
  margin-top: 45px;
}

.chosenPeriodForFiltering {
  //it's using in semesterChoice
  font-size: 20px;
  color: #29363d!important;
}

.semesterChoice-item {
  display: block;
  cursor: pointer;
  color: $gray-600;
  margin-top: 5px;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: $gray-600;
  }
} 

.empty_reg {
  color: #cecece;
  font-weight: 400;
} 


  
/************** MOBILE UI ***************/

@media screen and (max-width: 600px) {

.reg2__title-container {
  flex-direction: column;                                           //Mobile UI
}

.reg2_page {                                                        //Mobile UI
  margin-right:0;
  margin-left:0;                                                    
}

.reg2__title-container__buttons {                                   //Mobile UI
  margin-top:15px;    
  padding-top: 0;
}

}


/************** TABLET UI ***************/

@media screen and (max-width: 980px) and (min-width: 601px) {

.reg2_page {
  margin-right:0;
  margin-left:0;                                                    //Tablet UI
}

}

