<div class="row">
  <div class="col-lg-9">
    <h2 class="d-md-block d-none py-4" *ngIf="latestCourses[0]"> <span [translate]="'Grades.ExamPeriod'"></span>:
      {{latestCourses[0].courseExam.examPeriod.name}} {{latestCourses[0].courseExam.year.name}}
    </h2>

    <h4 class="d-sm-block d-md-none py-4" *ngIf="latestCourses[0]"> <span [translate]="'Grades.MyCourses'"></span>
    </h4>

    <div *ngFor="let course of latestCourses; let i = index;">
      <div class='card rounded mb-2'>
        <div class='card-body'>
          <div class='row'>
            <div class='col-9 col-xs-12 align-self-center'>
              <div class='row card-body-title col-12' >
                <h5 [title]="course.course.name" class="font-weight-normal d-md-block d-none">
                  {{course.course.name}}
                </h5>
                <h5 [title]="course.course.name" class="font-weight-normal font-sm d-sm-block d-md-none">
                  {{course.course.name}}
                </h5>
              </div>
              <div class='row card-body-title'>
                <div class='ml-3 d-none d-sm-block'>
                  <h6>
                    <i class ="fa fa-flag-checkered mr-2"></i>   {{course.course.displayCode}}
                  </h6>
                </div>
                <div class='ml-4 d-none d-sm-block mr-auto'>
                  <h6>
                    <div *ngIf="course.courseClass.instructors.length == 0; else notShow">
                      <i class ="fa fa-user-secret mr-2"></i> <span [translate]="'Grades.InstructorNotFound'"></span>
                    </div>
                    <ng-template #notShow>
                    <i class ="fa fa-user-secret mr-2"></i>  <span  *ngFor="let instructor of course.courseClass.instructors; let isLast=last">
                    {{instructor.instructor.givenName}} {{instructor.instructor.familyName}}{{isLast ? '' : ', '}}
                  </span>
                    </ng-template>
                    <!--{{ course.courseClass.instructors[0].instructor.familyName }}
                    {{ course.courseClass.instructors[0].instructor.givenName }} -->
                  </h6>
                </div>
              </div>
            </div>
            <div class='col-2 align-self-center d-none d-sm-flex justify-content-end'>
              <button type="button" class="btn btn-outline-secondary btn-sm disabled btn-pill pr-4 pl-4" disabled [translate]="'Grades.Statistics'"></button>
            </div>
            <div class='col-1 ml-auto d-flex justify-content-center align-items-center font-weight-bold text-right' [ngClass]="(course.isPassed)?'text-success':'text-secondary'">
              <span class="font-4xl d-md-block d-none">{{course.formattedGrade}}</span>
              <span class="font-2xl d-md-none d-sm-block">{{course.formattedGrade}}</span>
            </div>
            <div class="col-1 col-md-1 mr-1 align-self-center d-block d-sm-none">
              <i class="fa mr-2" [ngClass]="(isCollapsed[i])?'fa-chevron-down':'fa-chevron-up'"
                 (click)="isCollapsed[i] = !isCollapsed[i]"></i>
            </div>
            <div [collapse]="isCollapsed[i]">
              <div class="d-block d-sm-none align-self-center col-12">
                <h6 class="font-weight-normal">
                  <i class ="fa fa-flag-checkered mr-2"></i>  {{course.course.displayCode}}
                </h6>
                <h6 class="font-weight-normal">
                  <div *ngIf="course.courseClass.instructors.length == 0; else notShow">
                    <i class ="fa fa-user-secret mr-2"></i> <span [translate]="'Grades.InstructorNotFound'"></span>
                  </div>
                  <ng-template #notShow class="overflow-hidden">
                    <div class="float-left"><i class ="fa fa-user-secret mr-2"></i></div>
                    <div class="overflow-hidden">
                      <span  *ngFor="let instructor of course.courseClass.instructors; let isLast=last">
                        {{instructor.instructor.givenName}} {{instructor.instructor.familyName}}{{isLast ? '' : ', '}} <br />
                      </span>
                    </div>
                  </ng-template>
                </h6>
                <button type="button" class="d-none btn btn-outline-secondary btn-sm btn-pill pr-4 pl-4" disabled [translate]="'Grades.Statistics'"></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3">
    <div *ngIf="latestCourses[0]" class="d-none d-lg-block">
      <app-grades-statbox
        title = "{{ 'Grades.PeriodStats' | translate}}"
        statsPeriod = "{{ latestCourses[0].courseExam.examPeriod.name }} {{ latestCourses[0].courseExam.year.name }}"
        [registeredCourses] = "registeredCourseCount"
        [passedCourses] = "passedCourseCount"
        [failedCourses] = "failedCourseCount"
        [passedGradeAverage] = "passedGradeAverage"></app-grades-statbox>
    </div>
  </div>
</div>

<div *ngIf="!isLoading && latestCourses && latestCourses.length === 0" class="mt-3">
  <span class="text-info" [translate]="'Grades.NoGradesFound'"></span>
</div>
