<div class="row">
  <div class="col-lg-9">
    <div>
      <h2 class="py-4" [translate]="'Grades.ProjectsGrades'"></h2>
    </div>

    <div *ngFor="let project of thesisInfo">
    <div class='card'>
      <div class='card-body'>
        <div class='row'>
          <div class='col-6 align-self-center'>
            <div class='row card-body-title col-12' >
              <h5>
                {{project.thesis.name}}
              </h5>
            </div>
            <div class='row card-body-title'>
            <div class='col-5 d-none d-md-block align-self-center'>
              <h6>
                <i class =" fa fa-user-secret "></i>
                {{project.thesis.instructor.familyName}}
              </h6>
            </div>
            <div class='col-5 d-none d-md-block align-self-center'>
              <h6>
                <i class ="fa fa-user-secret"></i>
                {{project.thesis.instructor.familyName}}
              </h6>
            </div>
          </div>
          <div class='row card-body-title'>
            <div class='col-3 d-none d-md-block align-self-center'>
              <h6>
                <span class="text-details" [translate]="'CP'"></span>
                {{project.thesis.units}}
              </h6>
            </div>
            <div class='col-3 d-none d-md-block align-self-center'>
              <h6>
                <span class="text-details">ECTS</span>
                {{project.thesis.ects}}
              </h6>
            </div>
            <div class='col-3 d-none d-md-block align-self-center'>
              <h6>
                <span class="text-details" [translate]="'Grades.Coefficient'"></span>
                {{project.thesis.coefficient}}
              </h6>
            </div>
          </div>
          <div class='col-4 align-self-center ml-auto d-none d-md-block '>
            <span class="float-right">
              <button type="button" class="btn btn-link" disabled [translate]="'Grades.InDetail'"></button>
            </span>
          </div>
          <div class='col-3 col-md-2 align-self-center  ml-auto'>
            {{project.formattedGrade}}
          </div>

          <div class="col-2 col-md-1 align-self-center d-block d-sm-none">
              <i class="fa" [ngClass]="(isCollapsed)?'fa-chevron-down':'fa-chevron-up'" (click)="isCollapsed = !isCollapsed"></i>
          </div>
          <div [collapse]="isCollapsed">
            <div class="d-block d-sm-none col-12" style="min-width: 275px">
              <h6>
                <i class =" fa fa-user-secret "></i>
                {{project.thesis.instructor.familyName}}
              </h6>
              <h6>
                <i class =" fa fa-user-secret "></i>
                {{project.thesis.instructor.familyName}}
              </h6>
              <div class='row card-body-title'>
                <div class='col-4'>
                  <h6>
                    <span class="text-details" [translate]="'CP'"></span>
                    {{project.thesis.units}}
                  </h6>
                </div>
                <div class='col-4'>
                  <h6>
                    <span class="text-details">ECTS</span>
                    {{project.thesis.ects}}
                  </h6>
                </div>
                <div class='col-4'>
                  <h6>
                    <span class="text-details" [translate]="'Grades.Coefficient'">.</span>
                    {{project.thesis.coefficient}}
                  </h6>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- row -->
      </div>
    </div>
</div>
</div>
