/******** Top filtering bar of registration of courses **********/

.reg_courses_body__main_card {
  border-style: solid;
  border-width: 1px;
  border-color: white;
  border-radius: 10px;
  padding: 20px 30px 20px 30px;
  display: flex;
  box-shadow: 0 0 17px 0 rgba(177,177,177,0.5);
}

//semesterChoice: the filter that you choose semester
.reg_courses_body__sidebar{
  width: 210px;
}

.reg_courses_body__semesterChoice {
  border-right: 1px solid;
  padding-right: 30px;
  padding-bottom: 20px;
  white-space: nowrap;
  max-width: inherit;

}

.selectedElementForFiltering {
  //it's using in semesterChoice
  // font-weight: bold;
  font-size: 20px;
}

.semesterChoice-item {
  cursor: pointer;
  margin-top: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.semesterChoice-item:first-child {
  margin-top: -5px;
}

.reg_courses_body__main {
  flex-grow: 1;
  margin: 0 50px 100px 50px;
}

//all main-cards will have margin-top property except from the first one
.reg_courses_body__main_card ~ .reg_courses_body__main_card {
  margin-top: 15px;
}




.reg__select-btn {
  cursor: pointer;
  border-style: solid;
  border-width: 1.2px;
  padding: 10px 60px 10px 60px;
  border-radius: 5px;
}


/************** FOOTER BAR *************/
// where the student can see total number of lessons, ECTS, etc.


/*** footer--open ***/

.reg__footer--open {
  display: flex;
  justify-content: space-between;
  position: fixed;
  padding: 30px 40px 30px 30px;
  bottom: 0;
  left: 50px;
  right: 50px;
  color: gray;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: #FFFFFF;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  box-shadow: 0 0 17px 0 rgba(177,177,177,0.5);

}

.reg__footer_title {
  display: flex;
  align-items: center;
}

.reg__footer_box2 {
  padding-left: 20px;
  margin-right: 40px;
  margin-top: 40px;
  padding-top: 15px;
  border-left: 1px solid gray;
}

.reg__footer_box1 {
  margin-bottom: 10px;
}


.reg__arrow-position {
  right: 25px;
  top: 25px;
  position: absolute;
}

.reg__footer_lesson-counting {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.reg__footer_stats-item {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  max-width: -webkit-fill-available;
}

/*** footer--closed ***/

.reg__footer--closed {
  position: fixed;
  bottom: 0;
  left: 50px;
  right: 50px;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom:10px;
  padding-right: 30px;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  box-shadow: 0 0 17px 0 rgba(177,177,177,0.5);
}


.reg__footer_box2--closed {
  margin-right: 80px;
  height: auto;
}


.reg__footer_box1_lesson {
  border: 1px solid #4dbd74;
  border-radius: 16px;
  padding: 5px 20px 5px 20px;
  margin-right: 15px;
  margin-top: 15px;
}

.reg_navbar {
  padding-top: auto;
  padding-bottom: auto;
  border: 1px solid #C2CFD6;
  background-color: #F0F3F5;
}

.reg_select-lesson_container {
  width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/************ GENERAL **************/

.arrow-up {
  box-sizing: border-box;
  height: 10px;
  width: 10px;
  border-style: solid;
  border-color: gray;
  border-width: 2px 0px 0px 2px;
  transform: rotate(45deg);
}

.arrow-down {
  box-sizing: border-box;
  height: 10px;
  width: 10px;
  border-style: solid;
  border-color: gray;
  border-width: 0px 2px 2px 0px;
  transform: rotate(45deg);
}

.reg__arrow-down--container {
  margin-left:15px;
  margin-right: 5px;
}

.reg__arrow-up--container{
  margin-left:15px;
  margin-right: 5px;
  margin-top: 10px;
}
.purple-btn {
  color: #2500dd;
  background: white;
  border-color: #2500dd;
}

.reg__gray {
  color: #A4B7C1;
  border-color: #A4B7C1;
  background: white;
}

.reg__btn--small {
  cursor: pointer;
  border-style: solid;
  border-width: 1.0px;
  padding: 2px 20px 2px 20px;
  border-radius: 5px;
  font-size: 14px;
}


/************** MOBILE UI ***************/

@media screen and (max-width: 767px) {
.reg_courses_body__main {                                     //Mobile UI
    margin-left: 0;
    margin-right: 0;
  }
  .reg_message{
    display: none!important;
  }

  .reg__main_card_top {                                         //Mobile UI
    flex-direction: column-reverse;
  }

  .reg__footer_lesson-counting {                                //Mobile UI
    flex-direction: column;
    padding-right: 0;
    text-align: center;
  }

  .reg__footer {                                                //Mobile UI
    right: 0;
    left: 0;
    height: 150px;
  }

  .reg_courses_body__main_card {                                //Mobile UI
    flex-direction: column;
    padding: 15px;
  }

  .reg_courses_body__main_card__lessonDetails {                 //Mobile UI
    flex-direction: column;
  }

  .reg__footer--closed {                                        //Mobile UI
    flex-direction: column;
    left: 0;
    right: 0;
  }
  .reg__footer--open {                                         //Mobile UI
    left: 0;
    right: 0;
    flex-direction: column;
  }

  .reg__footer_box2--closed {                                  //Mobile UI
    width: 100%;
    align-items: center;
  }

  .reg__footer_box2 {                                          //Mobile UI
    border-left: 0;
    border-top: 1px solid gray;
    margin-left: 15px;
    margin-right: 15px;
    padding-left:0;
  }

  .reg__footer_label {                                         //Mobile UI
    justify-content: flex-end;
  }

  .reg_courses_filters__item {                                 //Mobile UI
    width: 90px;
  }

  .reg_courses_filters_search {                                //Mobile UI
    margin-top: 10px;
  }

  .reg_select-lesson_container {                                //Mobile UI
    width: 100%;
    margin-top: 25px;
    margin-bottom: 5px;
  }

}

/************** TABLET UI ***************/

@media screen and (max-width: 992px) and (min-width: 768px) {

  .reg_message{                                               //Tablet UI
    display: none!important;
  }

  .reg__footer--open {                                        //Tablet UI
    left: 0;
    right: 0;
  }

  .reg__footer--closed {                                      //Tablet UI
    left: 0;
    right: 0;
  }

}

#reg__footer_scrollbox {
  max-height: 240px;
  overflow: scroll;
}
#reg__footer_scrollbox::-webkit-scrollbar { 
  display: none; 
}

.scrollbox_shading {
	background:
		/* Shadow covers */
		linear-gradient(white 30%, rgba(255,255,255,0)),
		linear-gradient(rgba(255,255,255,0), white 70%) 0 100%,	
		/* Shadows */
		radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.2), rgba(0,0,0,0)),
		radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
	background-repeat: no-repeat;
	background-color: white;
	background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
	/* Opera doesn't support this in the shorthand */
	background-attachment: local, local, scroll, scroll;
}

