<div class="reg2_page mt-3-5 mb-3-5" *ngIf="!loading">
  <ng-template #templateSuccess>
    <div class="modal-header">
      <div class="modal-icon rounded-circle">
        <i class="fa-4x fas fa-tasks"></i>
      </div>
      <h4 class="modal-title" [translate]="'Modals.successTitle'"></h4>
    </div>
    <div class="modal-body" [translate]="'Modals.successBody'"></div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-dismiss="modal" [translate]="'Modals.ok'" (click)="closeModal()"></button>
    </div>
  </ng-template>

  <ng-template #templateFail>
    <div class="modal-header">
      <div class="modal-icon rounded-circle">
        <i class="fa-4x fas fa-exclamation-triangle"></i>
      </div>
      <h4 class="modal-title" [translate]="'Modals.problem'"></h4>
    </div>
    <div class="modal-body">
      <div>
        <div class="failedLessons-container">
          <div class="failedLessons-container_item" *ngFor="let failedCourse of failedCourses">
            <div class="failedLessons-container_item_title">{{failedCourse.name}}</div>
            <!-- <div class="failedLessons-container_item_description">{{failedCourse.validationResult.message}}</div> -->
            <div class="failedLessons-container_item_description" [translate]="'Checkout.ErrorDefault'"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" [translate]="'Modals.back'" (click)="backToEdit()" [routerLink]="['../overview']"></button>
      <button type="button" class="btn btn-cancel" [translate]="'Modals.close'" (click)="closeModal()"></button>
    </div>
  </ng-template>

  <div class="d-flex justify-content-between w-100">
    <div class="flex-grow-1">
      <div class="reg2__title-container d-inline-block d-flex justify-content-between mb-3-5 mt-2">
        <!-- TITLE-CONTAINER -->
        <h2 class="d-none d-inline-block pt-0 pb-0" [translate]="'Registrations.RegistrationCourses'"></h2>
        <div class="d-inline block w-auto d-flex flex-row-reverse pt-2-5">
          <!-- COMMENT: The button with three dots(It means more choices) will be hidden for now -->
          <!-- <div class="reg2__ellipsis-container">
            <i class="fas fa-ellipsis-v"></i>
          </div> -->
        </div>
      </div><!-- END OF TITLE-CONTAINER -->
      <div class="mb-5 font-lg mt-n4 text-info" style="font-size:17px;" *ngIf="openRegistrationPeriod" [translate]="'CourseRegistration.RegistrationOpenDates'"
        [translateParams]="{start: start, end: end}"></div>
      <div class="text-success mb-3-5 font-lg" [ngClass]="{'reg2__edited': registrationEdited, 'text-success': !registrationEdited}"
        [translate]="'PeriodRegistrationEffectiveStatus.' + code + '.headerText'"></div>
      <div class="font-lg mb-3-5">
        <span [translate]="'PeriodRegistrationEffectiveStatus.' + code + '.headerExtraText'"></span>
        <span class="ml-1 font-weight-bold" [translate]="'PeriodRegistrationEffectiveStatus.' + code + '.headerExtraTextBold'"></span>
      </div>
      <!-- INFO CONTAINER -->
      <div class="reg2__info-container--horizontal d-lg-none d-sm-flex flex-column mb-3-5 mt-3-5 w-100">
        <div class="reg2__info-container__main-card--horizontal d-flex flex-column pt-3-5 pb-3-5 pr-3-5 pl-3-5">
          <div class="font-sm" [translate]="'Registrations.StatementOfRegistration'"></div>
          <div class="font-lg mt-2">
            <div [translate]="'PeriodRegistrationEffectiveStatus.' + code + '.windowStatus'"></div>
            <div class="text-success" [translate]="'PeriodRegistrationEffectiveStatus.' + code + '.windowExtraStatus'"></div>
          </div>
          <div class="reg2__info-container_buttons w-100 d-flex flex-row-reverse flex-wrap-reverse">
            <button class="reg2__button-primary btn reg2__success-button mt-3 mr-2" type="button" [translate]="'RegistrationsButtons.Submit'"
              (click)="registerSelected()"></button>
            <button class="reg2__button-primary btn reg2__btn--gray mt-3 mr-2" type="button" [translate]="'RegistrationsButtons.Edit'"
              (click)="enableEdit()" [routerLink]="['../overview']"></button>
          </div>
        </div>
      </div>
    </div>
    <!--END OF FLEX GROW-1 (left part of reg2-page) -->


    <div class="reg2__buttons-container d-none d-lg-flex pt-2-5 ml-3">
      <ng-template #tooltipText><div [translate]="'NotAvailableFeature.PrintCourseRegistration'" class="text-secondary font-sm"></div></ng-template>
      <button class="reg2__button-primary btn d-none d-lg-flex reg2__btn--gray mr-2 disabled" type="button" [tooltip]="tooltipText" placement="bottom">
        <span [translate]="'RegistrationsButtons.Print'"></span>
        <!-- <span class="arrow-down"></span> -->
      </button>
      <button class="reg2__button-primary btn d-none d-lg-flex reg2__btn--gray mr-2" type="button" [translate]="'RegistrationsButtons.Edit'"
        (click)="enableEdit()" [routerLink]="['../overview']">

      </button>

    </div>
  </div>



  <div class="display-flex">

    <div class="reg2__lists-container">

      <div class="mt-4" *ngFor="let courses of coursesToRegister | groupBy: 'courseSemester' | orderBy: 'courseSemester' | values">
        <span class="sis--list-title">{{ courses[0].semester | semester }}</span>

        <!-- Start of List Group Header-->
        <ul class="sis--list-group sis--list-group-header">
          <li class="sis--list-group-item">
            <div class="display-flex">
              <div class='sis--list-group-item_lg_column' [translate]="'Registrations.Course'"></div>
              <div class='sis--list-group-item_md_column d-none d-sm-block' [translate]="'Registrations.Code'"></div>
              <div class='sis--list-group-item_lg_column d-none d-lg-block' [translate]="'Registrations.Instructor'"></div>
              <div class='sis--list-group-item_lg_column d-none d-lg-block' [translate]="'Registrations.Specialty'"></div>
              <div class='sis--list-group-item_sm_column d-none d-sm-block' [translate]="'Registrations.Type'"></div>
              <div class='sis--list-group-item_sm_column d-none d-sm-block' [translate]="'Registrations.CP'"></div>
              <div class='sis--list-group-item_sm_column d-none d-sm-block' [translate]="'Registrations.ECTS'"></div>
            </div>
          </li>
        </ul>
        <!-- End of List Group Header-->

        <!-- Start of List Group Body-->
        <ul class="sis--list-group sis--list-group-body">
          <li class="sis--list-group-item" *ngFor="let course of courses">
            <div class="flex-centering">
              <div class='sis--list-group-item_lg_column'>{{course?.name}}</div>
              <div class='sis--list-group-item_md_column d-none d-sm-block'>{{course?.displayCode}}</div>
              <div class='sis--list-group-item_lg_column d-none d-lg-block'>
                <div *ngFor="let instructor of course?.courseClass?.instructors">
                  {{instructor.instructor.familyName}}
                </div>
              </div>
              <div class='sis--list-group-item_lg_column d-none d-lg-block'>{{course?.specialty?.name}}</div>
              <div class='sis--list-group-item_sm_column d-none d-sm-block'>{{course?.courseType?.abbreviation}}</div>
              <div class='sis--list-group-item_sm_column d-none d-sm-block'>{{course?.units}}</div>
              <div class='sis--list-group-item_sm_column d-none d-sm-block'>{{course?.ects}}</div>
            </div>
          </li>
        </ul>
        <!-- End of List Group Body-->

        <!--Show this when registration is empty-->
        <div class="display-flex" *ngIf="isEmptyRegistration">
          <div class="col-12 text-center">
            <h2 class="mt-2 empty_reg" [translate]="'Checkout.EmptyRegistration'"></h2>
          </div>
        </div>
        </div>
    </div>


    <!--RIGHT INFO-CONTAINER -->
    <div class="reg2__info-container d-none d-lg-flex flex-column pl-3-5 pr-3-5 mb-3-5">
      <div class="reg2__info-container__main-card rounded ml-2-5 mr-2-5 border-0 d-flex flex-column align-items-center pt-3-5 pb-3-5 pr-3-5 pl-3-5">
        <div class="reg2__info-container__main-card_img d-flex justify-content-center align-items-center text-gray-500">
          <i class="far fa-edit fa-4x"></i>
        </div>
        <div class="font-sm" [translate]="'Registrations.StatementOfRegistration'"></div>
        <div class="font-lg mt-2 mb-3-5 text-center">
          <div [translate]="'PeriodRegistrationEffectiveStatus.' + code + '.windowStatus'"></div>
          <div class="text-success" [translate]="'PeriodRegistrationEffectiveStatus.' + code + '.windowExtraStatus'"></div>
          <button class="reg2__button-primary btn reg2__success-button mt-3 mr-auto ml-auto"
            type="button" [translate]="'RegistrationsButtons.Submit'" *ngIf="registrationEdited" (click)="registerSelected()"></button>
        </div>
        <hr class="w-100">
        <div class="reg2__counting-box d-flex text-info font-lg">
          <div class="flex-grow-1">
            <ul class="mt-2-5 p-0">
              <li class="mb-1 text-nowrap text-info" [translate]="'Registrations.SelectedCourses'"></li>
              <li class="mb-1 text-nowrap text-info" [translate]="'Registrations.TotalCp'"></li>
              <li class="mb-1 text-nowrap text-info" [translate]="'Registrations.TotalEcts'"></li>
            </ul>

          </div>
          <div class="reg2__counting-box_right-side text-right">
            <ul class="mt-2-5 p-0">
              <li class="mb-1 text-nowrap text-info">{{this.coursesToRegister?.length}}</li>
              <li class="mb-1 text-nowrap text-info">{{this.totalUnits}}</li>
              <li class="mb-1 text-nowrap text-info">{{this.totalEcts}}</li>
            </ul>
          </div>
        </div>

      </div>
    </div>

  </div>

</div>
