.clear-content-area {
  height: 100%;
  width: 100%;
}

.dropdown {
  border-radius: 3px;
}

.grade_filter-area {
  border: 1px solid #C2CFD6;
  background-color: #F0F3F5;
}

.dots:after {
  content: '\2807';
  font-size: 20px;
  color: #869FAC;
}
.footer-text {
  font-weight: 600;
}
