<div class="pt-3-5 pb-3-5 display-flex justify-content-md-start justify-content-between"><h2 class="d-md-block d-none" [translate]="'Requests.RequestsListTitle'"></h2><h2 class="d-sm-block d-md-none" [translate]="'Requests.Requests'"></h2>
  <button type="button" class="btn btn-success btn-requests" style="min-width: 145px;max-height: 45px;" (click)="newRequestDialog(newRequest)">
    <span>＋ {{'Requests.NewRequest' | translate}}</span>
  </button>
</div>
<ng-template #newRequest>
  <span aria-hidden="true" class="modal_close-btn" (click)="exitRequests()">×</span>
  <h2 class="font-4xl modal-header mt-lg-3 mt-0 mb-lg-4 mb-2 d-lg-block d-none"><span [translate]="'Requests.ModalTitleRequests'"></span></h2>
  <h4 class="modal-header mt-lg-3 mt-0 mb-lg-4 mb-2 d-lg-none d-block"><span [translate]="'Requests.ModalTitleRequests'"></span></h4>
  <div class="modal-body">
    <div *ngFor="let doctype of doctypes">
      <div class="requests_new-card">
        <div class="col-12">
          <div class="row">
            <div class="col-12 requests_new-card__title">
              <h4>{{doctype.name}}</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-7 col-12 requests_new-card__content">
              <span [translate]="'Requests.DescriptionNewRequest'"></span>
            </div>


            <div class="col-lg-4 col-12 ml-auto text-center">
              <span class="float-lg-right">
                <a class="btn btn-secondary btn-requests btn-requests-grey" (click)="checkActiveRequests(doctype.alternateName);"
                   [translate]="'Requests.Select'" data-dismiss="close"></a>
              </span>
            </div>

            <!--
          <div class="col-lg-4 col-12 ml-auto text-center">
            <span class="float-lg-right">
            <a class="btn btn-secondary  btn-requests btn-requests-grey "  (click)="sendRequest(doctype.alternateName);largeModal.hide()" [translate]="'Requests.Request'" data-dismiss="close"></a>
            </span>
          </div>
          -->


          </div>
        </div>
      </div>
    </div>
    <div class="requests_new-card">
      <div class="col-12">
        <div class="row">
          <div class="col-12 requests_new-card__title">
            <h4><span [translate]="'Requests.OtherRequests'"></span></h4>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-7 col-12 requests_new-card__content">
            <span [translate]="'Requests.DescriptionNewRequest'"></span>
          </div>
          <div class="col-lg-4 col-12 ml-auto text-center">
            <span class="float-lg-right">
              <a class="btn btn-secondary  btn-requests btn-requests-grey "  (click)="createNewRequestFromTemplate('OtherRequest');" [translate]="'Requests.Select'" data-dismiss="close"></a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<div class="requests_navbar d-none d-md-block">
  <form class="form-inline p-3 col">
    <div class="form-group col-lg-3 col-md-4 flex-nowrap">
      <label class="pr-2" for="searchText" [translate]="'Requests.ShowOnly'"></label>
      <select class="form-control lex-fill" style="min-width: 100px;">
        <option value="value1" [translate]="'Requests.AllRequests'"></option>
        <option value="value2" [translate]="'Requests.CompletedRequests'"></option>
        <option value="value3" [translate]="'Requests.PendingRequests'"></option>
      </select>
    </div>
    <div class="form-group col-lg-4 col-md-4 flex-nowrap pt-md-0 pt-sm-2">
      <label class="pr-2" for="searchText" [translate]="'Requests.OrderBy'"></label>
      <select class="form-control flex-fill" style="min-width: 100px;">
        <option value="value1" [translate]="'Requests.RequestDate'"></option>
        <option value="value2" [translate]="'Requests.CompletedRequests'"></option>
        <option value="value3" [translate]="'Requests.PendingRequests'"></option>
      </select>
    </div>
    <div class="form-group col-lg-5 col-md-4 flex-nowrap pt-md-0 pt-sm-2">
      <label class="pr-2" for="searchText" [translate]="'Requests.Filter'"></label>
      <input type="text" id="searchText" name="searchText" class="form-control flex-fill col text-left" style="min-width: 100px;" placeholder="{{'Requests.PlaceHolderRequests' | translate}}">
    </div>
  </form>
</div>

<div *ngIf="allrequests.length != 0; else Empty ">
  <div *ngFor="let request of allrequests; let i = index;">
    <div class="rectangle-3">
      <div class="card-body">
        <!-- <h4>{{request.requestActionName}}</h4> -->
        <div *ngIf="request.object"><h4>{{request.object.name}}</h4></div>
        <div *ngIf="!request.object"><h4>{{request.name}}</h4></div>
        <div class="row m-auto flex-column flex-md-row">
          {{request.dateCreated | date: 'dd/MM/yyyy'}}
          <div *ngIf="request.actionStatus.alternateName=='ActiveActionStatus'" class="text-md-right ml-md-auto font-lg text-success">{{'Requests.ActionStatusTypes.' + request.actionStatus.alternateName | translate}}</div>
          <div *ngIf="request.actionStatus.alternateName=='FailedActionStatus'" class="text-md-right ml-md-auto font-lg text-danger">{{'Requests.ActionStatusTypes.' + request.actionStatus.alternateName | translate}}</div>
          <div *ngIf="request.actionStatus.alternateName=='PotentialActionStatus'" class="text-md-right ml-md-auto font-lg text-dark">{{'Requests.ActionStatusTypes.' + request.actionStatus.alternateName | translate}}</div>
          <div *ngIf="request.actionStatus.alternateName=='CompletedActionStatus'" class="text-md-right ml-md-auto font-lg text-dark">{{'Requests.ActionStatusTypes.' + request.actionStatus.alternateName | translate}}</div>
          <div *ngIf="request.actionStatus.alternateName=='CancelledActionStatus'" class="text-md-right ml-md-auto font-lg text-dark">{{'Requests.ActionStatusTypes.' + request.actionStatus.alternateName | translate}}</div>
        </div>
        <!-- <button *ngIf="request.actionStatus.alternateName=='ActiveActionStatus'" type="button" class="align-self-start btn btn-secondary btn-requests btn-requests-grey" disabled [translate]="'Requests.Download'"></button> -->
         
        <div class="d-none d-md-block">
           <!-- Request replies from secretariat -->
          <!-- <div *ngIf="request.messages.length!=0">  -->
        
          <!-- <div *ngIf="!isCollapsed[i]">  -->
             <div *ngFor="let message of request.messages; let j=index;">
              <div *ngIf="j==0">
                  <div class="text-muted d-none d-sm-block pt-3">{{'Requests.RequestReply' | translate}} ({{message.dateCreated | date: 'dd/MM/yyyy'}}):</div>
                  <div class="pt-2 d-flex">
                    <div class="flex-fill">
                      <div class="border-secondary border-left-3 border-left pl-2 text-muted">{{message.body}}</div>
                    </div>              
                    <button *ngIf="message.attachments.length!=0 && (request.actionStatus.alternateName=='ActiveActionStatus' || request.actionStatus.alternateName=='CompletedActionStatus')"  (click)="downloadFile(message.attachments)" type="button" class="align-self-start btn btn-secondary btn-requests btn-requests-grey" [translate]="'Requests.Download'"></button>
                  </div>
              </div>
              <div *ngIf="j>0">
                <div *ngIf="!isCollapsed[i]">
                <div class="text-muted d-none d-sm-block pt-3">{{'Requests.RequestReply' | translate}} ({{message.dateCreated | date: 'dd/MM/yyyy'}}):</div>
                <div class="pt-2 d-flex">
                  <div class="flex-fill">
                    <div class="border-secondary border-left-3 border-left pl-2 text-muted">{{message.body}}</div>
                  </div>              
                  <button *ngIf="message.attachments.length!=0 && (request.actionStatus.alternateName=='ActiveActionStatus' || request.actionStatus.alternateName=='CompletedActionStatus')"  (click)="downloadFile(message.attachments)" type="button" class="align-self-start btn btn-secondary btn-requests btn-requests-grey" [translate]="'Requests.Download'"></button>
                </div>
              </div>
              </div>
            </div>
          <!-- </div>  -->
          <!-- Request message from student -->
          <div *ngIf="request.description"> 
            <div class="text-muted d-none d-sm-block pt-3">{{'Requests.RequestInfo' | translate}} ({{request.dateCreated | date: 'dd/MM/yyyy'}}):</div>
            <div class="pt-2 d-flex">
              <div class="flex-fill">
                <div *ngIf="request.description" class="border-secondary border-left-3 border-left pl-2 text-muted">{{request.description}}</div>
              </div>              
            </div>
          </div>          
          <br>
          <!-- Comment: This feature will be included later -->

          <!-- Show more - button in small screens -->
          <div *ngIf="request.messages.length>1"> 
            <div class="display-flex align-items--center">
              <!-- <span class="text-secondary" [translate]="'Requests.LessInfo'"></span>
              <i class="text-secondary ml-2 pt-1 fas fa-angle-up"></i> -->

              <button class="btn text-secondary" type="button" (click)="isCollapsed[i]=!isCollapsed[i];">
                <span [translate]="'Requests.LessInfo'" *ngIf="!isCollapsed[i]"></span>
                <i class="text-secondary ml-2 pt-1 fas fa-angle-up" *ngIf="!isCollapsed[i]"></i>
                <span [translate]="'Requests.MoreInfo'" *ngIf="isCollapsed[i]"></span>
                <i class="text-secondary ml-2 pt-1 fas fa-angle-down" *ngIf="isCollapsed[i]"></i>
              </button>
            </div>
          </div>
        </div>
        

        <!--      <div class="text-muted d-none d-sm-block"> Απάντηση από τη γραμματεία (9/10/2020): </div> -->
        <!-- <div class="d-none d-md-block">
          <div class="pt-2 d-flex">
            <div class="flex-fill">
              <div *ngIf="request.description" class="border-secondary border-left-3 border-left pl-2 text-muted">{{request.description}}</div>
              <div *ngIf="!request.description" class="border-secondary border-left-3 border-left pl-2  text-muted" [translate]="'Requests.RequestsNewDescription'"></div>
            </div>
            <button *ngIf="request.status=='ActiveActionStatus'" type="button" class="align-self-start btn btn-secondary btn-requests btn-requests-grey" disabled [translate]="'Requests.Download'"></button>
          </div>
          <br> -->
       
      </div>
    </div>
  </div>
</div>
<ng-template #Empty>
  <span [translate]="'Requests.NoRequests'"></span>
</ng-template>
