::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  opacity: 0.8 !important; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  opacity: 0.8  !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
  opacity: 0.8  !important;
}
