// Bootstrap overrides

//
// Color system
//

$white:                           #fff;
$gray-100:                        #f0f3f5;
$gray-200:                        #c2cfd6;
$gray-300:                        #a4b7c1;
$gray-400:                        #869fac;
$gray-500:                        #678898;
$gray-600:                        #536c79;
$gray-700:                        #3e515b;
$gray-800:                        #29363d;
$gray-900:                        #151b1e;
$black:                           #29363D !default;

$blue:                            #20a8d8;
$indigo:                          #6610f2 !default;
$purple:                          #6f42c1 !default;
$pink:                            #e83e8c !default;
$red:                             #f86c6b;
$orange:                          #f8cb00;
$yellow:                          #ffc107 !default;
$green:                           #4dbd74;
$teal:                            #20c997 !default;
$cyan:                            #63c2de;

$colors: (
  blue:                           $blue,
  indigo:                         $indigo,
  purple:                         $purple,
  pink:                           $pink,
  red:                            $red,
  orange:                         $orange,
  yellow:                         $yellow,
  green:                          $green,
  teal:                           $teal,
  cyan:                           $cyan,
  white:                          $white,
  gray:                           $gray-600,
  gray-dark:                      $gray-800
);

$theme-colors: (
  primary:                        $blue,
  secondary:                      $gray-300,
  success:                        $green,
  info:                           $gray-600,
  warning:                        $yellow,
  danger:                         $red,
  light:                          $gray-100,
  dark:                           $gray-800,

  blue:                           $blue,
  indigo:                         $indigo,
  purple:                         $purple,
  pink:                           $pink,
  red:                            $red,
  orange:                         $orange,
  yellow:                         $yellow,
  green:                          $green,
  teal:                           $teal,
  cyan:                           $cyan,

  gray-100:                       $gray-100,
  gray-200:                       $gray-200,
  gray-300:                       $gray-300,
  gray-400:                       $gray-400,
  gray-500:                       $gray-500,
  gray-600:                       $gray-600,
  gray-700:                       $gray-700,
  gray-800:                       $gray-800,
  gray-900:                       $gray-900
);

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-transitions:              true;
$enable-rounded:                  true;

// Body
//
// Settings for the `<body>` element.

$body-bg:                         #e4e5e6;
$body-bg:                         #fcfdfe;
$border-radius:                   0.375rem !default;


// Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-size-base:                  0.875rem; //14px

// Breadcrumbs

$breadcrumb-bg:                   #fff;
$breadcrumb-margin-bottom:        1.5rem;

// Cards

$card-border-color:               $gray-200;
$card-cap-bg:                     $gray-100;

// Dropdowns

$dropdown-padding-y:              0;
$dropdown-border-color:           none;
$dropdown-divider-bg:             $gray-100;
$dropdown-link-active-bg:         $gray-300;

// Buttons

$btn-secondary-border:            $gray-300;

// Progress bars

$progress-bg:                     $gray-100;

// Tables

$table-bg-accent:                 $gray-100;
$table-bg-hover:                  $gray-100;

// Forms

$input-group-addon-bg:            $gray-100;
$input-border-color:              $gray-200;
$input-group-addon-border-color:  $gray-200;

// headings
// based on Design System
$headings-font-weight:        600;
$headings-color:              #3E515B;
$headings-line-height:        normal;
// Text/H/H1
$h1-font-size:                $font-size-base * 2.5 !default; //35px
// Text/H/H1
$h2-font-size:                $font-size-base * 2 !default; //31px
// placeholder color
$input-color-placeholder:     $gray-600;

// custom controls overrides radio, checkbox etc
// node_modules/bootstrap/scss/_variables.scss:527

$custom-control-indicator-border-color: $gray-300;
$custom-control-indicator-checked-color: $gray-300;
$custom-control-indicator-checked-bg: $white;
$custom-control-indicator-checked-border-color: $gray-300;

$custom-control-indicator-border-width: 2px !default;

$custom-control-indicator-disabled-bg: $gray-100;
$custom-control-indicator-checked-disabled-bg: $gray-100;

$custom-control-indicator-focus-box-shadow: none !important

